# Python
__pycache__/
*.pyc

# Environment
.env

# Output
output/
pdf_sections/


data/pdfs/Lost_Mine_of_Phandelver.pdf

# OS-specific
.DS_Store

# Other
api_keys.env.rtf
Lost_Mine_of_Phandelver_Part1.xml
temp_chunk_*.pdf
